<div>
    <input type="text" placeholder="Пошук за назвою" [(ngModel)]="searchTerm" (input)="onSearchChange()">
  </div>
  
  <button (click)="openModal()">Додати книгу</button>
  
  <ul>
    <li *ngFor="let book of filteredBooks">
      <h3>{{ book.title }}</h3>
      <p>{{ book.publicationDate | date:'yyyy-MM-dd' }}</p>
      <p>{{ book.description }}</p>
      <p>Сторінок: {{ book.pageCount }}</p>
      <button (click)="openModal(book)">Редагувати</button>
    </li>
  </ul>
  
  <app-book-form [showModal]="showModal" [book]="selectedBook" (closeModal)="showModal = false" (bookSaved)="onBookSaved()"></app-book-form>
  