.active {
    background-color: lightblue;
  }

  .container {
    display: flex;
    gap: 20px;
  }
  
  .book-list {
    flex: 70%;
  }
  
  .chart-container {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-container canvas {
    width: 100% !important;
    height: 300px !important;
  }